body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: 10px;
  position: fixed;
  width: 100%;
}

section {
  margin: auto;
  padding-top: 106px;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}

h2 {
  padding-top: 30px;
  text-align: center;
}

h3 {
  font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px;
  width: 100%;
}
.background {
  background-color: #80ced6;
  height: 100px;
  margin: 10px;
  width: 100%;


/* Edits: Removed the minus sign before margin-top in line 8, added a closing bracket on line 11, added a colon after font-family in line 19,
changed .example, h3 to h2 in line 23 to follow order, added a colon after text-align
and semi-colon after center in line 25,and removed 0 after 10px in line 35. */
